.side-bar {
    display: flex;
    flex-direction: column;
    flex-basis: 80px;
    align-items: center;

    margin: auto 0;
    height: 98%;
    box-shadow: 2px 0 2px -1.8px rgb(0, 0, 0, 0.4);
}
.side-bar .icon {
    color: white;
    font-size: 40px;
}
.side-bar .icon:first-child {
    text-align: center;
    padding-bottom: 20px;
    width: 85%;
    border-bottom: 1.5px solid rgb(0, 0, 0, 0.4);
}
.side-bar .icon:not(:first-child) {
    margin-top: 20px;
}
.side-bar .icon:last-child {
    margin-top: auto;
}
.side-bar .active {
    color: rgb(0, 255, 170, 0.7);
}