.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 80px;
    height: 100%;
    box-shadow: 2px 0 2px -1.8px rgb(0, 0, 0, 0.4);
}
.side-bar .icon {
    color: white;
    font-size: 40px;
}
.side-bar .icon:first-child {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px;
    width: 85%;
    box-shadow: 0 2px 2px -1.8px rgb(0, 0, 0, 0.4);
}
.side-bar .icon:not(:first-child) {
    margin-top: 20px;
}
.side-bar .icon:last-child {
    margin-top: auto;
    margin-bottom: 10px;
}
.side-bar .active {
    color: rgb(0, 255, 170, 0.7);
}