.top-bar {
    display: flex;
    flex-direction: row;
    height: 63.5px;
    justify-content: center;
    margin: 6.5px;
    margin-right: 0;
    width: 100%;
    box-shadow: 0 2px 2px -1.8px rgb(0, 0, 0, 0.4);
}